body{
    font-family: sans-serif;
    margin: 0;padding: 0;
}
.bg-img{
    background-image: url(../photo/contact.jpg);
}
/* navbar */
nav{margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    list-style: none;

}
.navleft li{
    margin: 35px 30px;
    float: left;
    font-size: 20px;

}
.navright li{
    font-size: 20px;
    margin:35px 30px;
    float:right;

}
nav li a{
    color: rgba(252, 250, 250, 0.517);
    text-align: center;   
    text-decoration: none;
}
#active{
    background: rgba(138, 138, 182, 0.694);
    color: black;
    padding: 10px 10px;
    border-radius: 5px ;
}
nav  a:hover{
    background-color:  rgba(130, 130, 159, 0.694);
    padding: 10px 0px;
    border-radius: 5px;
}
.subcontainer{
    margin: 40px 7%;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    background-color: rgba(88, 86, 84, 0.51);
}

form{
    padding: 10px;
    width: 50%;
    height: auto;
    
}
h3{
    color: white;
    margin-left: 38%;
    text-decoration: underline;
}

input[type="text"]{
    background-color: rgba(250, 248, 248, 0.694);
    outline: none;
    width: 48%;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 15px 0px;
    box-sizing: border-box;
}
input[type="email"]{
    background-color: rgba(253, 250, 250, 0.694);
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    width: 97%;
    padding: 15px;
    box-sizing: border-box;
}
textarea{
    outline: none ;
    border-radius: 5px;
    width: 97%;
    margin: 10px 0px;
    border: none;
    background-color: rgba(250, 246, 246, 0.694);
    box-sizing: border-box;
    
}

.submit{
    text-align: center;
    
}
input[type="submit"],input[type="reset"]{
    padding: 15px;width: 200px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    outline: none;
}
#submit{
    background:rgba(0, 128, 128, 0.51);
    color: white;
}
#reset{
    background: rgba(245, 160, 49, 0.531);
}
.button{
margin-left: 48%;
    width: 100px;
    padding: 15px;
    height: 20px;
    border-radius: 140px;
    background-color: rgba(213, 142, 142, 0.639);
}
.button a{
    color: black;
    text-decoration: none;
}
iframe{
    padding: 10px;
}
.contact-us{
    margin: 20px;
}
.icon img{
    margin: 5px;
}
.address{
    margin: 10px 0px;
}
.icon{
    margin-left: 100px;
    display: flex;
}
.icon a{
    color: black;
    margin-top: 20px;
    margin-left: 50px;
}
.icon a:hover{
    color:white
}
.icon img{
    height: 50px;
}
/* footer */
footer{
    margin: 75px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgba(189, 175, 175, 0.333);
}
.address{
    margin-top: 20px;
}
footer img{
    margin: auto;
    margin-top: 15px;
    height: 50px;
    width: 50px;
}
h4{margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
}
.icons img{
    margin: 20px;
}
@media(max-width:900px){
    nav li a{
        margin: 0px 0px;
        font-size: 17px;
    }
    
    .icons img{
        margin: 10px;
    }
    .icons img{
        margin-top: 25px;
        width: 30px;
        height: 30px;
    }
    .container{
        margin: 3%;
        border-radius: 5px;

        justify-content: center;
    }
    form{
        width: 100%;
    }
    input[type="text"]{
        margin-right: 10px;
        width: 47%;
        box-sizing: border-box;
    }
    input[type="email"],textarea{
        width: 99%;
    }
    .button{margin-left: 40%;}
    h3{
        margin-left: 40%;
    }
    .contact-us{
        display: none;
    }
    iframe{
        width: 97%;
        height: 250px;
    }
}
@media(max-width:650px){
    nav{
        color: black;
        margin: 0px;
        display:grid;
    }
    nav li a{
        margin: 0;
        font-size: 17px;
    }
  
    .navright li{
        text-align: center;
        margin-top: 0px;
        padding: 0;
        float: left;
    }
    #active{
        padding:5px 40%;
    }

    .navleft{
        justify-self: center;
    }
    nav .navright {
        display: grid;
    }
    .navleft a:hover{
        color: black;
        width: 100%;
        background-color: rgba(138, 138, 182, 0.571);
        padding:5px 190px;
        margin: 0px;
    }
    .navright a:hover{
        color: black;
        width: 100%;
        background-color: rgba(138, 138, 182, 0.755);
        padding:5px 43%;
        margin: auto;
    } 
   .container{
    margin-top: 190px;
   }
   input{
       box-sizing: border-box;
   }
   input[type="text"]{
       width: 46.5%;

   }
   .button{
       margin-left: 35%;
   }
   iframe{
       margin-right: 10px;
   }
   .icons img{
        
    margin:25px 5px ;
    width: 15px;
    height: 15px;
}
.address{
    font-size: 12px;
}
h4{
    margin-top: 30px;
    font-size: 12px;
}

}