body{
    font-family: sans-serif;
    margin: 0;padding: 0;
}
.bg-img{
    background-image: url(../photo/hobbies.jpg);
}
/* navbar */
nav{margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    list-style: none;
}
.navleft li{
    margin: 35px 30px;
    float: left;
    font-size: 20px;
}
.navright li{
    font-size: 20px;
    margin:35px 30px;
    float:right;
}
nav li a{
    color: rgba(0, 0, 0, 0.633);
    text-align: center;   
    text-decoration: none;
}
#active{
    background: rgba(138, 138, 182, 0.51);
    padding: 10px 10px;
    color: black;
    border-radius: 5px;
}
nav  a:hover{
    background-color:  rgba(130, 130, 159, 0.694);
    padding: 10px 0px;
    border-radius: 5px;
}
.headtext h3{
    text-align: center;
    text-decoration: underline;
}
.center{
    margin-top: 20px;
    width: 86%;
    display: flex;
    background: rgba(108, 99, 99, 0.503);
    margin-left: 7%;
    border-radius: 5px;
}
.center img{
    width: 20%;
    height: 100%;
    margin: 20px;
    border-radius: 5px;
}
/* main */
.main{
    margin: 10px;
   display: flex;
}
.img{
    margin: 10px;
    width: 50%;
    height:210px;
    display: flex;
    background: rgba(149, 139, 139, 0.503);
    border-radius: 5px;
}
.img img:hover{
    border: 5px solid rgba(92, 150, 138, 0.51);
}
.text{
    margin: 10px;
}
.text h3{
    text-decoration: underline;
    text-align: center;
}
.img  img{
    width: 20%;
    height: 60%;
    margin: 20px;
    border-radius: 5px;
}
.img:hover, .center:hover{
    box-shadow: 0px 0px 11px 5px rgba(253, 252, 252, 0.43);   
}
/* footer */
footer{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 175, 175);
}
.address{
    margin-top: 20px;
}
footer img{
    margin: auto;
    margin-top: 15px;
    height: 50px;
    width: 50px;
}
.address{
    margin: 10px 0px;
}
h4{margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
}
.icons img{
    margin: 20px;
}
@media(max-width:1300px){
    #none{
        display: none;
    }
}
@media(max-width:1150px){
    nav li a{
        margin: 0px 0px;
        font-size: 17px;
    }
    .center{
        margin:0px 10% ;
        width: 80%;
        display: grid;
    }
    .center img{
        margin-left: 34%;
        margin-bottom: 0px;
        width: 200px;
        height:  250px;
        border: rgba(105, 150, 155, 0.646) solid 5px;
    }
    .main{
        margin-top: 10px;
    }
    .headtext{
        margin-left: 10px;
    }
    .img img {
        display: none;
    }
    .img{
        margin: 0 5px;
    }
    .icons img{
        margin: 10px;
    }
    .icons img{
        margin-top: 25px;
        width: 30px;
        height: 30px;
    }
}
@media(max-width:850px){
    .main{
        margin: 0px 10px;
        display: grid;
    }
    .img{
        margin:10px 0px;
        width: 96%;
        padding: 10px; 
    }
}
@media(max-width:650px){
    nav{
        background-color: rgba(249, 249, 250, 0);
        margin: 0px;
        display:grid;
    }
    nav li a{
        margin: 0;
        font-size: 17px;
    }
    .navright li{
        text-align: center;
        margin-top: 0px;
        padding: 0;
        float: left;
    }
    #active{
        padding:5px 43%;
    }
    .navleft{
        justify-self: center;
    }
    nav .navright {
        display: grid;
    }
    .navleft a:hover{
        color: black;
        width: 100%;
        background-color: rgba(138, 138, 182, 0.544);
        padding:5px 190px;
        margin: auto;
    }
    .navright a:hover{
        color: black;
        width: 100%;
        background-color: rgba(138, 138, 182, 0.462);
        padding:5px 43%;
        margin: auto;
    }
    .concenter{
        margin-top: 190px;
    }
    .center img{
        margin-left: 23%;
    }
    .img:hover, .center:hover{
        background: rgba(255, 255, 255, 0.306);
        box-shadow: 0px 0px 11px 5px rgba(253, 252, 252, 0.755);
    }
    .icons img{
        margin:25px 5px ;
        width: 15px;
        height: 15px;
    }
    .address{
        font-size: 12px;
    }
    h4{
        margin-top: 30px;
        font-size: 12px;
    }

}
@media(max-width:450px){
    #firstnone{
        display: none;
    }
    #active{
        padding:5px 40%;
    }
    .navleft a:hover{
        padding:5px 135px;
    }
    .navright a:hover{
        padding:5px 40%;
    }
    .center img{
        margin-left: 15%;
    }
    .main .img{
        width: 94%;
    }
}