body{
    font-family: sans-serif;
    margin: 0;padding: 0;
}
.bg-img{
    background-image: url(../../photo/bg-img.jpg);
}
/* navbar */
nav{margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    list-style: none;
}
.navleft li{
    margin: 35px;
    float: left;
    font-size: 25px;

}
.navright li{
    font-size: 20px;
    margin:35px 30px;
    float:right;

}
nav li a{
    color: black;
    text-align: center;
    text-decoration: none;
}
#active{
    background: rgba(138, 138, 182, 0.694);
    padding: 10px 10px;
    color: black;
    border-radius: 5px;
}
nav  a:hover{
    background-color:  rgba(130, 130, 159, 0.694);
    padding: 10px 0px;
    
    border-radius: 5px;
}

/* main */
main{
    margin-left: 7%;
    height: 600px;
    width: 90%;
    display: flex;
    border-radius: 20px;
    margin-top: 40px;
    /* background-color: rgb(113, 97, 128); */
}

.mainleft{
    background-color: rgba(81, 76, 75, 0.531);
    width: 30%;
    height: 500px;
    border-radius: 10px;
    
}
.mainleft:hover{
    background-color: rgba(39, 37, 37, 0.599);
    box-shadow: 0px 0px 15px 1px rgba(253, 252, 252, 0.43);
}
.img{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    background-color: rgba(243, 242, 241, 0.714);
    padding: 10px;
    width: 200px;
    border: solid  rgba(110, 100, 96, 0.728) 10px;
    border-radius: 50%;
}
.intro{
    background-color: rgba(128, 126, 125, 0.673);
    margin: 20px 15px;
    border-radius: 10px;
    padding: 20px;
}

.mainright{
color: white;
    width: 50%;
    padding: 50px;
    border-radius: 30px;
    /* background-color: rgb(226, 223, 221); */
    margin-left: 50px;
}
.mainright h1,h2,p{
    text-align: center;
}
/* contact */
.subject,.sub1,.sub2{
    display: flex;
    margin: 5px 0px;
    
    justify-content: space-between;
}
.sub:hover{

    border: rgba(0, 128, 128, 0.429) 5px ;
    box-shadow: 0px 0px 15px 1px rgba(250, 249, 249, 0.43);
}
.sub{
    margin-right: 40px;
    padding: 20px;
    margin: 10px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(126, 132, 132, 0.626);
}
.sub a{
    color: rgba(0, 0, 0, 0.959);
}
.sub a:hover{
    color:  rgba(255, 252, 250, 0.986);
}
h3{
    text-decoration: underline;
    color: white;
}
/* footer */
footer{
    margin: 75px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgba(189, 175, 175, 0.585);
}
.address{
    margin-top: 20px;
}
footer img{
    margin: auto;
    margin-top: 15px;
    height: 50px;
    width: 50px;
}
h4{margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
}
.icons img{
    margin: 20px;
}
@media(max-width:1700px){
    .mainleft{
        width: 70%;
    }
    .intro{padding: 5px;
        font-size: 16px;
    }

}
@media(max-width:1000px){
    nav li a{
        margin: 0px 0px;
        font-size: 17px;
    }
    main{
        display: inline;
        
    }
    .mainright{
        margin:  10px;
        color: black;
    }
    .mainleft{
        margin-left: 10%;
        width: 80%;
        height: auto;
        padding-bottom:  20px;
    }
    .img{
        padding-top: 20px;
    }
    .intro{
        margin-top: 20px;
    }
    .mainright{
        width: 97%;
        margin: 10px;
        
        background-color: rgba(162, 157, 157, 0.558);
        padding: 0px;
    }
    .mainright:hover{
        box-shadow: 0px 0px 13px 5px rgba(251, 250, 250, 0.38);
    }
    .subject{
        
        display: grid;
    }

    .sub1{
        display: flex;
    }
    .sub2{
        display: flex;
    }
    .sub{
        margin: 10px;
        width: 50%;
    }
    .icons img{
        margin: 10px;
    }
    .icons img{
        margin-top: 25px;
        width: 30px;
        height: 30px;
    }
}
@media(max-width:650px){
    nav{
        color: black;
        margin: 0px;
        display:grid;
    }
    nav li a{
        margin: 0;
        font-size: 17px;
    }
  
    .navright li{
        text-align: center;
        margin-top: 0px;
        padding: 0;
        float: left;
    }
    #active{
        padding:5px 190px;
    }
    .navleft{
        justify-self: center;
    }
    nav .navright {
        display: grid;
    }
    .navleft a:hover{
        color: black;
        padding: 5px 190px;
    }
    .navright a:hover{
        color: black;
        width: 100%;
        padding:5px 41%;
    } 
    main{
        
        display: inline;
    }
    .mainleft{
        margin-left: 10%;
        margin-top:170px;
        width: 80%;
    }
    .mainright{
        padding:10px;
        margin: 20px;
        width: 96%;
    }
    .subject{
        display: block;
    margin: 10px;
    width: 96%;
}
    .sub1{
        display: grid;
    }
    .sub2{display: grid;
    }
    .sub {
        margin: 10px 0px;
        width: 93%;
    }
   
    .icons img{
        
        margin:25px 5px ;
        width: 15px;
        height: 15px;
    }
    .address{
        font-size: 12px;
    }
    h4{
        margin-top: 30px;
        font-size: 12px;
    }

}