body{
    font-family: sans-serif;
    margin: 0;padding: 0;
}
/* navbar */
nav{margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    background: teal;
    list-style: none;
}
.navleft li{
    margin: 35px;
    float: left;
    font-size: 19px;

}
.navright li{
    font-size: 20px;
    margin:35px 30px;
    float:right;

}
nav li a{
    color: black;
    text-align: center;
    
    
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(189, 139, 63);
    padding: 33px 0px ;
}




footer{
    margin: 75px;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(128, 98, 98);
}
footer img{
    margin: auto;
    margin-top: 15px;
    height: 50px;
    width: 50px;
}
.icons img{
    margin: 15px;
}




@media(max-width:900px){
    nav li a{
        margin: 0px 0px;
        font-size: 17px;
    }

    .icons img{
        margin: 10px;
    }
}
@media(max-width:650px){
    nav{
        height: 175px;
        display:grid;
    }
    nav li a{
        margin: 0;
        font-size: 17px;
    }
    .navleft li{
        display: none;
    }
    .navright li{
        text-align: center;
        margin:  10px;
        padding: 0;
        float: left;
    }
    nav .navright{
        padding: 0;
        display: grid;
    }
    nav a:hover{
        color: black;
        width: 100%;
        background-color: rgb(138, 138, 182);
        padding:5px 43%;
        margin: auto;
    }

    .icons img{
        margin: 5px;
        width: 35px;
        height: 35px;
    }
    .address{
        font-size: 12px;
    }

}