body{
    font-family: sans-serif;
    margin: 0;padding: 0;
}
.bg-img{
    background-image: url(../../photo/bg-img.jpg);
}
/* navbar */
nav{margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    list-style: none;
}
.navleft li{
    margin: 35px 30px;
    float: left;
    font-size: 20px;

}
.navright li{
    font-size: 20px;
    margin:35px 30px;
    float:right;

}
nav li a{
    color: black;
    text-align: center;
    
    
    text-decoration: none;
}
#active{
    background: rgba(138, 138, 182, 0.49);
    padding: 10px 10px;
}
nav  a:hover{
    background-color:  rgba(138, 138, 182, 0.422);
    padding: 10px 0px;
}
.introduc{
    display: flex;
    width: 80%;
    
}
.photo {
    margin:20px;
    width: 50%;
    margin-left: 20%;
}
.text h3{
    margin-left:20px ;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: rgba(226, 210, 210, 0.374) solid 7px;
    margin-bottom: 10px;
}
.exper .grade1 .grade{
    margin : px; 
}

.grade1{

    width: 100%;
    
    display: flex;
    
}
.grade1 .grade{
    width: 50%;
}
.grade{
    
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(165, 160, 160, 0.497);
}
.exper .grade{
    margin: 20px;
}
.text{

    width: 270px;
    padding: 20px;
    height: auto;border-radius: 10px;

    background-color: #7a767680;
}



/* footer */
footer{
    margin: 75px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 175, 175);
}
.address{
    margin-top: 20px;
}
footer img{
    margin: auto;
    margin-top: 15px;
    height: 50px;
    width: 50px;
}
h4{margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
}
.icons img{
    margin: 20px;
}

    
@media(max-width:900px){
    nav li a{
        margin: 0px 0px;
        font-size: 17px;
    }
    .grade1{
        display: grid;
    }
    .grade1 .grade{
        width: 89%;
    }
    .introduc{
        margin: 0;
        width: 100%;
        display: grid;
    }
    .photo img{

        margin-left: 50px;
    }
    .photo .text{
        margin: 0;
        width: 100%;
        

    }
    .exper{
        width: 100%;
    }
}
    
    .icons img{
        margin: 10px;
    }
    .icons img{
        margin-top: 25px;
        width: 30px;
        height: 30px;
    }

@media(max-width:650px){
    nav{
        margin: 0px;
        display:grid;
    }
    nav li a{
        margin: 0;
        font-size: 17px;
    }
  
    .navright li{
        text-align: center;
        margin-top: 0px;
        padding: 0;
        float: left;
    }
    #active{
        padding:5px 43%;
    }

    .navleft{
        justify-self: center;
    }
    nav .navright {
        display: grid;
    }
    .navleft a:hover{
        color: black;
        width: 100%;
        background-color: rgba(138, 138, 182, 0.571);
        padding:5px 215px;
        margin: 0px;
    }
    .navright a:hover{
        color: black;
        width: 100%;
        background-color: rgba(138, 138, 182, 0.755);
        padding:5px 43%;
        margin: auto;
    }
    
    .introduc{margin-top: 200px;
        width: 100%;
        
    }
    .photo  img{
        margin-left: 0px;
    }
    .photo .text{
        
        margin-right: 0px;
    }
   .grade1 .grade{
       width: 85%;
   }
    
   
    .icons img{
        
        margin: 10px 0px;
        width: 15px;
        height: 15px;
    }
    .address{
        font-size: 12px;
    }
    h4{margin-top: 30px;
        font-size: 12px;
    }

}