body{
    font-family: sans-serif;
    margin: 0;padding: 0;
}
.bg-img{
    background-image: url(../../photo/contact.jpg);
}
/* navbar */
nav{margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    list-style: none;
}
.navleft li{
    margin: 35px 30px;
    float: left;
    font-size: 20px;

}
.navright li{
    font-size: 20px;
    margin:35px 30px;
    float:right;

}
nav li a{
    color: rgb(194, 179, 179);
    text-align: center;
    
    
    text-decoration: none;
}
#active{
    color: black;
    background: rgb(138, 138, 182);
    padding: 10px 10px;
}
nav  a:hover{
    color: black;
    background-color:  rgb(138, 138, 182);
    padding: 10px 0px;
}
.container{
    display: flex;
    margin: 5% 100px;
    background-color: rgba(88, 86, 84, 0.299);
}

form{
    padding: 10px;
    width: 40%;
    height: auto;
    
}
h3{
    color: white;
    margin-left: 38%;
    text-decoration: underline;
}
input[type="text"]{
    background-color: rgba(250, 248, 248, 0.694);
    outline: none;
    width: 45%;
    border: none;
    border-radius: 3px;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
}
input[type="email"]{
    background-color: rgba(253, 250, 250, 0.694);
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 10px;
    width: 95%;
    padding: 15px;
    box-sizing: border-box;
}
textarea{
    outline: none ;
    border-radius: 3px;
    width: 95%;
    margin: 10px;
    border: none;
    background-color: rgba(250, 246, 246, 0.694);
    box-sizing: border-box;
    
}
.submit{
    text-align: center;
    
}
input[type="submit"],input[type="reset"]{
    padding: 15px;width: 200px;
    margin: 5px;
    border-radius: 20px;
    border: none;
}
#submit{
    background:rgba(0, 128, 128, 0.51);
    color: white;
}
#reset{
    background: rgba(245, 160, 49, 0.531);
}
iframe{
    padding: 10px;
}
.contact-us{
    margin: 20px;
}

.facebook a{
    margin-top: 0px;
    margin-left: 100px;
}
/* footer */
footer{
    margin: 75px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 175, 175);
}
.address{
    margin-top: 20px;
}
footer img{
    margin: auto;
    margin-top: 15px;
    height: 50px;
    width: 50px;
}
h4{margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
}
.icons img{
    margin: 20px;
}
@media(max-width:900px){
    nav li a{
        margin: 0px 0px;
        font-size: 17px;
    }
    
    .icons img{
        margin: 10px;
    }
    .icons img{
        margin-top: 25px;
        width: 30px;
        height: 30px;
    }
}
@media(max-width:650px){
    nav{
        margin: 0px;
        display:grid;
    }
    nav li a{
        margin: 0;
        font-size: 17px;
    }
  
    .navright li{
        text-align: center;
        margin-top: 0px;
        padding: 0;
        float: left;
    }
    #active{
        padding:5px 43%;
    }

    .navleft{
        justify-self: center;
    }
    nav .navright {
        display: grid;
    }
    .navleft a:hover{
        color: black;
        width: 100%;
        background-color: rgb(138, 138, 182);
        padding:5px 250px;
        margin: auto;
    }
    .navright a:hover{
        color: black;
        width: 100%;
        background-color: rgb(138, 138, 182);
        padding:5px 43%;
        margin: auto;
    }
    
   
    .icons img{
        margin: 25px 5px;
        width: 20px;
        height: 20px;
    }
    .address{
        font-size: 12px;
    }
    h4{margin-top: 30px;
        font-size: 12px;
    }

}